<table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
       width="100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Felhasználónév</th>
        <th>E-mail cím</th>
        <th>Név</th>
        <th>Telefonszám</th>
        <th>Műveletek</th>
    </tr>
    </thead>
    <tbody>
    {% for user in object %}
        <tr>
            <td>{{ user.id|e }}</td>
            <td>{{ user.username|e }}</td>
            <td>{{ user.email|e }}</td>
            <td>{{ user.firstName|e }} {{ user.lastName|e }}</td>
            <td>{{ user.localPhoneNumber|e }}</td>
            <td>
                <a class="readButton"
                   href="{{ path('admin_get_user_read', {'userId': user.id, 'objectType' : objectType}) }}">
                    <i class="ti-search mR-10"></i>
                </a>
                <a class="editButton"
                   href="{{ path('admin_get_user_edit', {'userId': user.id, 'objectType' : objectType}) }}">
                    <i class="ti-pencil mR-10"></i>
                </a>
                {% if app.user.id != user.id %}
                    <a class="deleteButton"
                       href="{{ path('admin_get_user_delete', {'userId': user.id}) }}">
                        <i class="ti-trash mR-10"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>