{% extends "base.html.twig" %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.strParameter }} - {{ error.errorText }}
                </div>
                <br/>
            {% endif %}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    Sikeres mentés!
                </div>
                <br/>
            {% endif %}
            <form action="{{ isNew ? path('admin_post_unit_add') : path('admin_post_unit_edit', {'unitId': objUnit.id}) }}"
                  method="post">
                <div class="row gap-20 masonry pos-r">
                    <div class="masonry-sizer col-md-6"></div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Általános</h6>
                            <div class="mT-30">
                                {% if isNew == FALSE %}
                                    <div class="form-group">
                                        <label for="inputId">Id</label>
                                        <input type="text" class="form-control" name="inputId" id="inputId"
                                               aria-describedby="inputId" value="{{ objUnit.id }}" disabled>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="inputHouse">Ház</label>
                                    {% if isEditable == TRUE %}
                                        <select class="form-control" name="inputHouse" id="inputHouse">
                                            {% for house in objHouses %}
                                                <option value="{{ house.id }}" {{ objUnit.house and (objUnit.house.id == house.id) ? 'selected="selected"' : '' }}>{{ house.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="text" class="form-control" id="inputHouse" name="inputHouse"
                                               aria-describedby="inputHouse"
                                               value="{{ objUnit.house.name }}" {{ isEditable ?: 'disabled' }}>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="inputBalance">Egyenleg</label>
                                    <input type="text" class="form-control" id="inputBalance" name="inputBalance"
                                           aria-describedby="inputBalance"
                                           value="{{ objUnit.balance }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputHouseShare">Tulajdonrész</label>
                                    <input type="text" class="form-control" id="inputHouseShare" name="inputHouseShare"
                                           aria-describedby="inputHouseShare"
                                           value="{{ objUnit.houseShare }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Cím</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputBuilding">Épület</label>
                                    <input type="text" class="form-control" id="inputBuilding" name="inputBuilding"
                                           placeholder="2"
                                           value="{{ objUnit.building }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputFloor">Emelet</label>
                                    <input type="text" class="form-control" id="inputFloor" name="inputFloor"
                                           placeholder="I."
                                           value="{{ objUnit.floor }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputDoor">Ajtó</label>
                                    <input type="text" class="form-control" id="inputDoor" name="inputDoor"
                                           placeholder="9."
                                           value="{{ objUnit.door }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputFloorArea">Terület</label>
                                    <input type="text" class="form-control" id="inputFloorArea" name="inputFloorArea"
                                           placeholder="65"
                                           value="{{ objUnit.floorArea }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputType">Típus</label>
                                    <input type="text" class="form-control" id="inputType" name="inputType"
                                           placeholder="1"
                                           value="{{ objUnit.type }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Dátum</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputCreatedAt">Létrehozva</label>
                                    <input type="text" class="form-control" id="inputCreatedAt"
                                           aria-describedby="inputCreatedAt"
                                           value="{{ objUnit.createdAt|date("Y. m. d. H:i") }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputUpdatedAt">Módosítva</label>
                                    <input type="text" class="form-control" id="inputUpdatedAt"
                                           aria-describedby="inputUpdatedAt"
                                           value="{{ objUnit.updatedAt|date("Y. m. d. H:i") }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if isEditable == TRUE %}
                        <div class="masonry-item col-md-6">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30">
                                    <input type="submit"
                                           class="btn btn-primary" value="{{ isNew ? 'Mentés' : 'Módosítás' }}"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20">
                                                            <a href="{{ path('admin_get_house_users') }}">
                                                                Lakók listája
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Tulajdonrész</th>
                                                            <th>E-mail</th>
                                                            <th>Levelezési cím</th>
                                                            <th>Telefonszám</th>
                                                            <th>Vezetékes telefonszám</th>
                                                            <th>Cégnév</th>
                                                            <th>Cég cím</th>
                                                            <th>Reg. token</th>
                                                            <th>Tech. név</th>
                                                            <th>Regisztrálva</th>
                                                            <th>Hozzáadva</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for unitTenant in objUnit.tenants %}
                                                            <tr>
                                                                <td>{{ unitTenant.tenant.id }}</td>
                                                                <td>{{ unitTenant.ownershipShare * 100 ~ '%' }}</td>
                                                                <td>{{ unitTenant.tenant.email }}</td>
                                                                <td>{{ unitTenant.tenant.mailingAddress }}</td>
                                                                <td>{{ unitTenant.tenant.phoneNumber }}</td>
                                                                <td>{{ unitTenant.tenant.localContactNumber }}</td>
                                                                <td>{{ unitTenant.tenant.companyName }}</td>
                                                                <td>{{ unitTenant.tenant.companyAddress }}</td>
                                                                <td>{{ unitTenant.tenant.registrationToken }}</td>
                                                                <td>{{ unitTenant.tenant.firstName ~ ' ' ~ unitTenant.tenant.lastName }}</td>
                                                                <td>
                                                                    {% if unitTenant.tenant.user %}
                                                                        <a href="{{ path('admin_get_user_read', {'userId': unitTenant.tenant.user.id, 'objectType': 'user'}) }}">
                                                                            {{ unitTenant.tenant.user.getFullname }}
                                                                        </a>
                                                                        <a class="editButton"
                                                                           href="{{ path('admin_get_user_edit', {'userId': unitTenant.tenant.user.id, 'objectType': 'user'}) }}">
                                                                            <i class="ti-pencil mR-10"></i>
                                                                        </a>
                                                                    {% else %}
                                                                        -
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ unitTenant.tenant.createdAt|date('Y. m. d.') }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </main>
{% endblock body %}
