{% extends "base.html.twig" %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.errorTitle }} - {{ error.errorText }}
                </div>
                <br/>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <div style="display: flex; justify-content: space-between">
                                <h4 class="c-grey-900 mB-20">
                                    <a href="{{ path('admin_get_system_import_sources') }}">
                                        Import források listája
                                    </a>
                                </h4>
                                <div style="align-self: center;">
                                    <a href="{{ path('admin_get_system_import_sources_add') }}" class="btn btn-primary">
                                        <i class="ti-plus mR-10"></i> Új forrás hozzáadása
                                    </a>
                                </div>
                            </div>
                            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Név</th>
                                    <th>Slug</th>
                                    <th>Aktív</th>
                                    <th>E-mail</th>
                                    <th>Felhasználónév</th>
                                    <th>Api kulcs</th>
                                    <th>Műveletek</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for source in objImportSources %}
                                    <tr>
                                        <td>{{ source.id|e }}</td>
                                        <td>{{ source.name|e }}</td>
                                        <td>{{ source.slug|e }}</td>
                                        <td>{{ source.isActive|e }}</td>
                                        <td>{{ source.email|e }}</td>
                                        <td>{{ source.username|e }}</td>
                                        <td>{{ source.apiKey|e }}</td>
                                        <td>
                                            <a class="readButton"
                                               href="{{ path('admin_get_system_import_sources_read', {'importSourceId': source.id}) }}">
                                                <i class="ti-search mR-10"></i>
                                            </a>
                                            <a class="editButton"
                                               href="{{ path('admin_get_system_import_sources_edit', {'importSourceId': source.id}) }}">
                                                <i class="ti-pencil mR-10"></i>
                                            </a>
                                            <a class="deleteButton"
                                               href="{{ path('admin_get_system_import_sources_delete', {'importSourceId': source.id}) }}">
                                                <i class="ti-trash mR-10"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const initConfirmationClickEventHandler = () => {
            $('.deleteButton').off('click').on("click", function (e) {
                e.preventDefault();

                var choice = confirm('Biztosan törölni akarod?');

                if (choice) {
                    window.location.href = $(this).attr('href');
                }
            });
        };

        $('.paginate_button').on('click', () => initConfirmationClickEventHandler());

        initConfirmationClickEventHandler();
    </script>
{% endblock %}
