{% extends "base.html.twig" %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.strParameter }} - {{ error.errorText }}
                </div>
                <br/>
            {% endif %}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    Sikeres mentés!
                </div>
                <br/>
            {% endif %}
            <form action="{{ isNew ? path('admin_post_house_add') : path('admin_post_house_edit', {'houseId': objHouse.id}) }}"
                  method="post">
                <div class="row gap-20 masonry pos-r">
                    <div class="masonry-sizer col-md-6"></div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Általános</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputId">Id</label>
                                    <input type="text" class="form-control" name="inputId" id="inputId"
                                           aria-describedby="inputId" value="{{ objHouse.id }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputStatus">Státusz</label>
                                    <input type="text" class="form-control" id="inputStatus" name="inputStatus"
                                           aria-describedby="inputStatus"
                                           value="{{ objHouse.status }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputIsActive">Aktív</label>
                                    <input type="text" class="form-control" id="inputIsActive" name="inputIsActive"
                                           aria-describedby="inputIsActive"
                                           value="{{ objHouse.deletedAt ? 'Nem aktív' : 'Aktív' }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Név</label>
                                    <input type="text" class="form-control" id="inputName" name="inputName"
                                           aria-describedby="inputName"
                                           value="{{ objHouse.name }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputCountryCode">Ország kód</label>
                                    <input type="text" class="form-control" id="inputCountryCode"
                                           name="inputCountryCode"
                                           placeholder="Pl.: HU"
                                           value="{{ objHouse.countryCode }}" {{ isEditable ?: 'disabled' }}>
                                    <small id="countryCodeHelp" class="form-text text-muted">Pontosan két karakterből
                                        kell álljon.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Cím</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputRegion">Régió</label>
                                    <input type="text" class="form-control" id="inputRegion" name="inputRegion"
                                           placeholder="Pest megye"
                                           value="{{ objHouse.region }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <label for="inputCity">Város</label>
                                        <input type="text" class="form-control" id="inputCity" name="inputCity"
                                               placeholder="Szentendre"
                                               value="{{ objHouse.city }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Irányítószám</label>
                                        <input type="text" class="form-control" id="inputZip" name="inputZip"
                                               placeholder="2000"
                                               value="{{ objHouse.postalCode }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputStreet">Utca</label>
                                    <input type="text" class="form-control" id="inputStreet" name="inputStreet"
                                           placeholder="Kőzúzó"
                                           value="{{ objHouse.street }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputBuilding">Épület</label>
                                    <input type="text" class="form-control" id="inputBuilding" name="inputBuilding"
                                           placeholder="2"
                                           value="{{ objHouse.building }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputUnit">Egység</label>
                                    <input type="text" class="form-control" id="inputUnit" name="inputUnit"
                                           placeholder="" value="{{ objHouse.unit }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputLotNumber">Helyrajzi szám</label>
                                    <input type="text" class="form-control" id="inputLotNumber" name="inputLotNumber"
                                           placeholder="2"
                                           value="{{ objHouse.lotNumber }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputGPSLongitude">GPS Szélesség</label>
                                        <input type="text" class="form-control" id="inputLongitude"
                                               name="inputLongitude"
                                               placeholder="47.6614042"
                                               value="{{ objHouse.gpsLongitude }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLatitude">GPS Hosszúság</label>
                                        <input type="text" class="form-control" id="inputLatitude" name="inputLatitude"
                                               placeholder="19.0684783"
                                               value="{{ objHouse.gpsLatitude }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Dátum</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputCreatedAt">Létrehozva</label>
                                    <input type="text" class="form-control" id="inputCreatedAt"
                                           aria-describedby="inputCreatedAt"
                                           value="{{ objHouse.createdAt|date("Y. m. d. H:i") }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputUpdatedAt">Módosítva</label>
                                    <input type="text" class="form-control" id="inputUpdatedAt"
                                           aria-describedby="inputUpdatedAt"
                                           value="{{ objHouse.updatedAt|date("Y. m. d. H:i") }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if isEditable == TRUE %}
                        <div class="masonry-item col-md-6">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30">
                                    <input type="submit"
                                           class="btn btn-primary" value="{{ isNew ? 'Mentés' : 'Módosítás' }}"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </main>
{% endblock body %}
