{% extends "base.html.twig" %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.strParameter }} - {{ error.errorText }}
                </div>
                <br/>
            {% endif %}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    Sikeres mentés!
                </div>
                <br/>
            {% endif %}
            <form action="{{ isNew ? path('admin_post_house_add') : path('admin_post_house_edit', {'houseId': objHouse.id}) }}"
                  method="post">
                <div class="row gap-20 masonry pos-r">
                    <div class="masonry-sizer col-md-6"></div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Általános</h6>
                            <div class="mT-30">
                                {% if isNew == FALSE %}
                                    <div class="form-group">
                                        <label for="inputId">Id</label>
                                        <input type="text" class="form-control" name="inputId" id="inputId"
                                               aria-describedby="inputId" value="{{ objHouse.id }}" disabled>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="inputStatus">Státusz</label>
                                    <input type="text" class="form-control" id="inputStatus" name="inputStatus"
                                           aria-describedby="inputStatus"
                                           value="{{ objHouse.status }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputIsActive">Aktív</label>
                                    <input type="text" class="form-control" id="inputIsActive" name="inputIsActive"
                                           aria-describedby="inputIsActive"
                                           value="{{ objHouse.deletedAt ? 'Nem aktív' : 'Aktív' }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputName">Név</label>
                                    <input type="text" class="form-control" id="inputName" name="inputName"
                                           aria-describedby="inputName"
                                           value="{{ objHouse.name }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputCountryCode">Ország kód</label>
                                    <input type="text" class="form-control" id="inputCountryCode"
                                           name="inputCountryCode"
                                           placeholder="Pl.: HU"
                                           value="{{ objHouse.countryCode }}" {{ isEditable ?: 'disabled' }}>
                                    <small id="countryCodeHelp" class="form-text text-muted">Pontosan két karakterből
                                        kell álljon.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Cím</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputRegion">Régió</label>
                                    <input type="text" class="form-control" id="inputRegion" name="inputRegion"
                                           placeholder="Pest megye"
                                           value="{{ objHouse.region }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <label for="inputCity">Város</label>
                                        <input type="text" class="form-control" id="inputCity" name="inputCity"
                                               placeholder="Szentendre"
                                               value="{{ objHouse.city }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Irányítószám</label>
                                        <input type="text" class="form-control" id="inputZip" name="inputZip"
                                               placeholder="2000"
                                               value="{{ objHouse.postalCode }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputStreet">Utca</label>
                                    <input type="text" class="form-control" id="inputStreet" name="inputStreet"
                                           placeholder="Kőzúzó"
                                           value="{{ objHouse.street }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputBuilding">Épület</label>
                                    <input type="text" class="form-control" id="inputBuilding" name="inputBuilding"
                                           placeholder="2"
                                           value="{{ objHouse.building }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputUnit">Egység</label>
                                    <input type="text" class="form-control" id="inputUnit" name="inputUnit"
                                           placeholder="" value="{{ objHouse.unit }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-group">
                                    <label for="inputLotNumber">Helyrajzi szám</label>
                                    <input type="text" class="form-control" id="inputLotNumber" name="inputLotNumber"
                                           placeholder="2"
                                           value="{{ objHouse.lotNumber }}" {{ isEditable ?: 'disabled' }}>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputGPSLongitude">GPS Szélesség</label>
                                        <input type="text" class="form-control" id="inputLongitude"
                                               name="inputLongitude"
                                               placeholder="47.6614042"
                                               value="{{ objHouse.gpsLongitude }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLatitude">GPS Hosszúság</label>
                                        <input type="text" class="form-control" id="inputLatitude" name="inputLatitude"
                                               placeholder="19.0684783"
                                               value="{{ objHouse.gpsLatitude }}" {{ isEditable ?: 'disabled' }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Dátum</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputCreatedAt">Létrehozva</label>
                                    <input type="text" class="form-control" id="inputCreatedAt"
                                           aria-describedby="inputCreatedAt"
                                           value="{{ objHouse.createdAt|date("Y. m. d. H:i") }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputUpdatedAt">Módosítva</label>
                                    <input type="text" class="form-control" id="inputUpdatedAt"
                                           aria-describedby="inputUpdatedAt"
                                           value="{{ objHouse.updatedAt|date("Y. m. d. H:i") }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Képviselő</h6>
                            <div class="mT-30">
                                <div class="form-group">
                                    <label for="inputHouseManager">Képviselő</label>
                                    {% if isEditable == TRUE %}
                                        <select class="form-control" name="inputHouseManager" id="inputHouseManager">
                                            {% for manager in objManager %}
                                                <option value="{{ manager.id }}" {{ (objHouse.houseManager and objHouse.houseManager and objHouse.houseManager.id == manager.id) ? 'selected="selected"' : '' }}>{{ manager.firstName ~ " " ~ manager.lastName }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="text" class="form-control" id="inputHouseManager"
                                               name="inputHouseManager"
                                               value="{{ objHouse.houseManager ? objHouse.houseManager.firstName ~ " " ~ objHouse.houseManager.lastName : NULL }}" {{ isEditable ?: 'disabled' }}>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if isEditable == TRUE %}
                        <div class="masonry-item col-md-6">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30">
                                    <input type="submit"
                                           class="btn btn-primary" value="{{ isNew ? 'Mentés' : 'Módosítás' }}"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20"><a
                                                                    href="{{ path('admin_get_units') }}">Albetétek
                                                                listája</a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0"
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Ház név</th>
                                                            <th>Épület</th>
                                                            <th>Emelet</th>
                                                            <th>Ajtó</th>
                                                            <th>Terület</th>
                                                            <th>Típus</th>
                                                            <th>Egyenleg</th>
                                                            <th>Tulajdonrész</th>
                                                            <th>Lakó</th>
                                                            <th>Létrehozva</th>
                                                            <th>Módosítva</th>
                                                            <th>Import forrás</th>
                                                            <th>Műveletek</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for unit in objUnitsByHouse.units %}
                                                            <tr>
                                                                <td>{{ unit.id|e }}</td>
                                                                <td>{{ unit.house.name|e }}</td>
                                                                <td>{{ unit.building|e }}</td>
                                                                <td>{{ unit.floor|e }}</td>
                                                                <td>{{ unit.door|e }}</td>
                                                                <td>{{ unit.floorArea|e }}</td>
                                                                <td>{{ unit.type|e }}</td>
                                                                <td>{{ unit.balance|e }}</td>
                                                                <td>{{ unit.houseShare|e }}</td>
                                                                <td>{{ (unit.unitTenant and unit.unitTenant.tenant) ? unit.unitTenant.tenant.firstName ~ " " ~ unit.unitTenant.tenant.lastName : '' }}</td>
                                                                <td>{{ unit.createdAt|date("Y. m. d. H:i") }}</td>
                                                                <td>{{ unit.updatedAt|date("Y. m. d. H:i") }}</td>
                                                                <td>{{ unit.isImported ? unit.importedUnit.importSource.name : '-' }}</td>
                                                                <td>
                                                                    <a class="readButton"
                                                                       href="{{ path('admin_get_unit_read', {'unitId': unit.id}) }}">
                                                                        <i class="ti-search mR-10"></i>
                                                                    </a>
                                                                    <a class="editButton"
                                                                       href="{{ path('admin_get_unit_edit', {'unitId': unit.id}) }}">
                                                                        <i class="ti-pencil mR-10"></i>
                                                                    </a>
                                                                    <a class="deleteButton"
                                                                       href="{{ path('admin_get_unit_delete', {'unitId': unit.id}) }}">
                                                                        <i class="ti-trash mR-10"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20">
                                                            <a href="{{ path('admin_get_house_users') }}">
                                                                Technikai felhasználók listája
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0"
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Típus</th>
                                                            <th>Ház</th>
                                                            <th>Név</th>
                                                            <th>Cégnév</th>
                                                            <th>Telefonszám</th>
                                                            <th>E-mail cím</th>
                                                            <th>Létrehozva</th>
                                                            <th>Módosítva</th>
                                                            <th>Műveletek</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for user in objHouseUsersByHouse.houseUsers %}
                                                            <tr>
                                                                <td>{{ user.id|e }}</td>
                                                                <td>{{ user.localContactNumber is defined ? 'Lakó' : 'Menedzser' }}</td>
                                                                <td>{{ user.house.name|e }}</td>
                                                                <td>{{ user.firstName|e }} {{ user.lastName|e }}</td>
                                                                <td>{{ user.companyName|e }}</td>
                                                                <td>{{ user.phoneNumber|e }}</td>
                                                                <td>{{ user.email|e }}</td>
                                                                <td>{{ user.createdAt|date("Y. m. d.") }}</td>
                                                                <td>{{ user.updatedAt|date("Y. m. d.") }}</td>
                                                                <td>
                                                                    <a class="readButton"
                                                                       href="{{ path('admin_get_house_user_read', {'houseUserId': user.id}) }}">
                                                                        <i class="ti-search mR-10"></i>
                                                                    </a>
                                                                    <a class="editButton"
                                                                       href="{{ path('admin_get_house_user_edit', {'houseUserId': user.id}) }}">
                                                                        <i class="ti-pencil mR-10"></i>
                                                                    </a>
                                                                    <a class="deleteButton"
                                                                       href="{{ path('admin_get_house_user_delete', {'houseUserId': user.id}) }}">
                                                                        <i class="ti-trash mR-10"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20">
                                                            <a href="{{ path('admin_get_users') }}">
                                                                Felhasználók listája
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Felhasználónév</th>
                                                            <th>E-mail cím</th>
                                                            <th>Név</th>
                                                            <th>Telefonszám</th>
                                                            <th>Műveletek</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        {% for houseUser in objHouseUsersByHouse.houseUsers if houseUser.user != null %}
                                                            <tr>
                                                                <td>{{ houseUser.user.id|e }}</td>
                                                                <td>{{ houseUser.user.username|e }}</td>
                                                                <td>{{ houseUser.user.email|e }}</td>
                                                                <td>{{ houseUser.user.lastName|e }} {{ houseUser.user.firstName|e }}</td>
                                                                <td>{{ houseUser.user.localPhoneNumber|e }}</td>
                                                                <td>
                                                                    <a class="readButton"
                                                                       href="{{ path('admin_get_user_read', {'userId': houseUser.user.id, 'objectType' : 'user'}) }}">
                                                                        <i class="ti-search mR-10"></i>
                                                                    </a>
                                                                    <a class="editButton"
                                                                       href="{{ path('admin_get_user_edit', {'userId': houseUser.user.id, 'objectType' : 'user'}) }}">
                                                                        <i class="ti-pencil mR-10"></i>
                                                                    </a>
                                                                    {% if app.user.id != houseUser.user.id %}
                                                                        <a class="deleteButton"
                                                                           href="{{ path('admin_get_user_delete', {'userId': houseUser.user.id}) }}">
                                                                            <i class="ti-trash mR-10"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20">
                                                            <a href="#">
                                                                Dokumentumok listája
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Dokumentum típus</th>
                                                            <th>Dokumentum név</th>
                                                            <th>Filenév</th>
                                                            <th>Felhasználó</th>
                                                            <th>Hozzáadva</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for document in objHouse.documents %}
                                                            <tr>
                                                                <td>{{ document.id }}</td>
                                                                <td>{{ document.documentType.name }}</td>
                                                                <td>{{ document.name|e }}</td>
                                                                <td>{{ document.filename|e }}</td>
                                                                <td>{{ document.user ? document.user.fullName : '' }}</td>
                                                                <td>{{ document.createdAt|date('Y. m. d.') }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20">
                                                            <a href="#">
                                                                Hibák listája
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Tárgy</th>
                                                            <th>Tartalom</th>
                                                            <th>Hozzáadva</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for malfunction in objHouse.malfunctions %}
                                                            <tr>
                                                                <td>{{ malfunction.id }}</td>
                                                                <td>{{ malfunction.subject|e }}</td>
                                                                <td>{{ malfunction.content|e }}</td>
                                                                <td>{{ malfunction.createdAt|date('Y. m. d.') }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if isEditable != TRUE %}
                        <div class="masonry-item col-md-12">
                            <div class="bgc-white p-20 bd">
                                <div class="mT-30 ">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                                    <div style="display: flex; justify-content: space-between">
                                                        <h4 class="c-grey-900 mB-20">
                                                            <a href="#">
                                                                Postok listája
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <table class="table table-striped table-bordered dataTable"
                                                           cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Tárgy</th>
                                                            <th>Tartalom</th>
                                                            <th>Sürgős</th>
                                                            <th>Hozzáadva</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for post in objHouse.posts %}
                                                            <tr>
                                                                <td>{{ post.id }}</td>
                                                                <td>{{ post.subject|e }}</td>
                                                                <td>{{ post.content|e }}</td>
                                                                <td>{{ post.isUrgent|e }}</td>
                                                                <td>{{ post.createdAt|date('Y. m. d.') }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </main>
{% endblock body %}

